{% include "common/file_header.j2" with context %}

{% if interface.documentation %}
{{ interface.documentation | format_doc_comment }}
{% endif %}
{{ interface.signature | format_interface_signature }} {
{% for prop in interface.properties %}
  {{ prop | format_ts_property }},
{% endfor %}
}

{% include "models/model_helpers.j2" with context %}
