export function instanceOf{{ interface.signature.name }}(value: object): value is {{ interface.signature.name }} {
{% for prop in interface.required_prop_names %}
  if (!('{{ prop }}' in value) || (value as any)['{{ prop }}'] === undefined) return false;
{% endfor %}
  return true;
}

export function {{ interface.signature.name }}FromJSON(json: any): {{ interface.signature.name }} {
    return {{ interface.signature.name }}FromJSONTyped(json, false);
}

export function {{ interface.signature.name }}FromJSONTyped(json: any, ignoreDiscriminator: boolean): {{ interface.signature.name }} {
  if (json == null) {
    return json;
  }
  return {
{% for prop in interface.property_metadata if not prop.is_index_signature %}
   '{{ prop.name }}': json['{{ prop.name }}']{% if prop.optional %} ?? undefined{% endif %},
{% endfor %}
  };
}

export function {{ interface.signature.name }}ToJSON(value?: {{ interface.signature.name }} | null): any {
    return {{ interface.signature.name }}ToJSONTyped(value, false);
}

export function {{ interface.signature.name }}ToJSONTyped(value?: {{ interface.signature.name }} | null, ignoreDiscriminator: boolean = false): any {
  if (value == null) {
    return value;
  }
  return {
{% for prop in interface.property_metadata if not prop.is_index_signature %}
   '{{ prop.name }}': value['{{ prop.name }}'],
{% endfor %}
  };
}

export const {{ interface.signature.name }}PropertyValidationAttributesMap: {
    [property: string]: {
        maxLength?: number,
        minLength?: number,
        pattern?: string,
        maximum?: number,
        exclusiveMaximum?: boolean,
        minimum?: number,
        exclusiveMinimum?: boolean,
        multipleOf?: number,
        maxItems?: number,
        minItems?: number,
        uniqueItems?: boolean
    }
} = {
};
