{% include "common/file_header.j2" with context %}

{{ type_definition | format_type_definition }}

{% if helper_data %}
{% set name = helper_data.name %}
{% set required_props = helper_data.required_props %}
{% set properties = helper_data.properties %}
{% include "models/model_helpers.j2" %}
{% endif %}
