export function instanceOf{{ model_interface.signature.ts_name }}(value: object): value is {{ model_interface.signature.ts_name }} {
{% for prop in model_interface.required_prop_names %}
  if (!('{{ prop }}' in value) || (value as any)['{{ prop }}'] === undefined) return false;
{% endfor %}
  return true;
}

export function {{ model_interface.signature.ts_name }}FromJSON(json: any): {{ model_interface.signature.ts_name }} {
  return {{ model_interface.signature.ts_name }}FromJSONTyped(json, false);
}

export function {{ model_interface.signature.ts_name }}FromJSONTyped(json: any, ignoreDiscriminator: boolean): {{ model_interface.signature.ts_name }} {
  if (json == null) {
    return json;
  }
  return {
{% for prop in model_interface.property_metadata if not prop.is_index_signature %}
  {% if prop.is_array_of_objects %}
    {% if prop.reference_name %}
      {% if prop.optional %}
    '{{ prop.ts_name }}': json['{{ prop.original_name }}']?.map((item: any) => {{ prop.reference_name }}FromJSON(item)) ?? undefined,
      {% else %}
    '{{ prop.ts_name }}': json['{{ prop.original_name }}'].map((item: any) => {{ prop.reference_name }}FromJSON(item)),
      {% endif %}
    {% else %}
      {% if prop.optional %}
    '{{ prop.ts_name }}': json['{{ prop.original_name }}']?.map((item: any) => ({
        {% for mapping in prop.inline_object_properties %}
      {{ mapping.ts_name }}: item['{{ mapping.original_name }}'],
        {% endfor %}
    })) ?? undefined,
      {% else %}
    '{{ prop.ts_name }}': json['{{ prop.original_name }}'].map((item: any) => ({
        {% for mapping in prop.inline_object_properties %}
      {{ mapping.ts_name }}: item['{{ mapping.original_name }}'],
        {% endfor %}
    })),
      {% endif %}
    {% endif %}
  {% elif prop.is_object_reference %}
    {% if prop.optional %}
    '{{ prop.ts_name }}': {{ prop.reference_name }}FromJSON(json['{{ prop.original_name }}']) ?? undefined,
    {% else %}
    '{{ prop.ts_name }}': {{ prop.reference_name }}FromJSON(json['{{ prop.original_name }}']),
    {% endif %}
  {% elif prop.is_inline_object %}
    {% if prop.optional %}
    '{{ prop.ts_name }}': json['{{ prop.original_name }}'] ? {
      {% for mapping in prop.inline_object_properties %}
      {{ mapping.ts_name }}: json['{{ prop.original_name }}']['{{ mapping.original_name }}'],
      {% endfor %}
    } : undefined,
    {% else %}
    '{{ prop.ts_name }}': {
      {% for mapping in prop.inline_object_properties %}
      {{ mapping.ts_name }}: json['{{ prop.original_name }}']['{{ mapping.original_name }}'],
      {% endfor %}
    },
    {% endif %}
  {% else %}
    {% if prop.optional %}
    '{{ prop.ts_name }}': json['{{ prop.original_name }}'] ?? undefined,
    {% else %}
    '{{ prop.ts_name }}': json['{{ prop.original_name }}'],
    {% endif %}
  {% endif %}
{% endfor %}
  };
}

export function {{ model_interface.signature.ts_name }}ToJSON(value?: {{ model_interface.signature.ts_name }} | null): any {
  return {{ model_interface.signature.ts_name }}ToJSONTyped(value, false);
}

export function {{ model_interface.signature.ts_name }}ToJSONTyped(value?: {{ model_interface.signature.ts_name }} | null, ignoreDiscriminator: boolean = false): any {
  if (value == null) {
    return value;
  }
  return {
{% for prop in model_interface.property_metadata if not prop.is_index_signature %}
  {% if prop.is_array_of_objects %}
    {% if prop.reference_name %}
    '{{ prop.original_name }}': value['{{ prop.ts_name }}']?.map((item: any) => {{ prop.reference_name }}ToJSON(item)),
    {% else %}
    '{{ prop.original_name }}': value['{{ prop.ts_name }}']?.map((item: any) => ({
      {% for mapping in prop.inline_object_properties %}
      '{{ mapping.original_name }}': item['{{ mapping.ts_name }}'],
      {% endfor %}
    })),
    {% endif %}
  {% elif prop.is_object_reference %}
    '{{ prop.original_name }}': {{ prop.reference_name }}ToJSON(value['{{ prop.ts_name }}']),
  {% elif prop.is_inline_object %}
    '{{ prop.original_name }}': value['{{ prop.ts_name }}'] ? {
    {% for mapping in prop.inline_object_properties %}
      '{{ mapping.original_name }}': value['{{ prop.ts_name }}']['{{ mapping.ts_name }}'],
    {% endfor %}
    } : undefined,
  {% else %}
    '{{ prop.original_name }}': value['{{ prop.ts_name }}'],
  {% endif %}
{% endfor %}
  };
}

export const {{ model_interface.signature.ts_name }}PropertyValidationAttributesMap: {
  [property: string]: {
    maxLength?: number,
    minLength?: number,
    pattern?: string,
    maximum?: number,
    exclusiveMaximum?: boolean,
    minimum?: number,
    exclusiveMinimum?: boolean,
    multipleOf?: number,
    maxItems?: number,
    minItems?: number,
    uniqueItems?: boolean
  }
} = {
};
