{% include "common/file_header.j2" with context %}

package components

{% if model_struct.imports %}
import (
{% for import in model_struct.imports %}
	"{{ import }}"
{% endfor %}
)
{% endif %}

{{ model_struct.struct_definition | fmt }}

func (c {{ model_struct.struct_definition.name }}) MarshalJSON() ([]byte, error) {
	return utils.MarshalJSON(c, "", false)
}

func (c *{{ model_struct.struct_definition.name }}) UnmarshalJSON(data []byte) error {
	requiredFields := []string{
{% for field in model_struct.required_fields %}
		"{{ field }}",
{% endfor %}
	}
	if err := utils.UnmarshalJSON(data, c, "", false, requiredFields); err != nil {
		return err
	}
	return nil
}

{% for field in model_struct.struct_definition.fields %}
func (c *{{ model_struct.struct_definition.name }}) Get{{ field.name }}() {{ field.field_type | fmt }} {
	if c == nil {
		var zero {{ field.field_type | fmt }}
		return zero
	}
	return c.{{ field.name }}
}

{% endfor %}
