{% include "common/file_header.j2" with context %}

package components

{% if model_type_alias.imports %}
import (
{% for import in model_type_alias.imports %}
	"{{ import }}"
{% endfor %}
)
{% endif %}

{{ model_type_alias.type_alias_definition | fmt }}

