{% include "common/file_header.j2" with context %}

{% for import in api_operation.imports %}
{{ import | fmt }}
{% endfor %}

{% if api_operation.ts_class.documentation %}
{{ api_operation.ts_class.documentation | fmt }}
{% endif %}

{{ api_operation.ts_interface.signature | fmt }} {
  {% for prop in api_operation.ts_interface.properties %}
  {% if prop.documentation %}
  {{ prop.documentation | fmt | indent(2) }}
  {% endif %}
  {{ prop | fmt | indent(2) }};
  {% endfor %}
}

{{ api_operation.ts_class.signature | fmt }} {
  {% for method in api_operation.ts_class.methods %}
  {% set method_data = api_operation.method_templates[method.name] %}
  {% if method.documentation %}
  {{ method.documentation | fmt | indent(2) }}
  {% endif %}
  {{ method | fmt | indent(2) }} {
    {% if method_data %}
    {% filter indent(4) %}
    {%+ include method_data.body_template with context %}
    {{- "\n" }}
    {% endfilter %}
    {% endif %}
  }
  {% if method_data and method_data.convenience_method_name %}
  {% filter indent(2) %}
  {%+ include "api/snippets/method_convenience.j2" with context %}
  {% endfilter %}
  {% endif %}
  {% if not loop.last %}

  {% endif %}
  {% endfor %}
}
