{% include "common/file_header.j2" with context %}

{% for export in project_index.exports %}
{{ export }}
{% endfor %}
{% if project_index.exports | length == 0 %}
// No models to export
export {};
{% endif %}
