{% include "common/file_header.j2" with context %}

{% if model_interface.documentation %}
{{ model_interface.documentation | fmt }}
{% endif %}
{{ model_interface.signature | fmt }} {
{% for prop in model_interface.properties %}
  {{ prop | fmt }},
{% endfor %}
}

{% include "model/snippets/interface_helpers.j2" with context %}
