{% include "common/file_header.j2" with context %}

{% for import in model_type_alias.imports %}
{{ import | fmt }}
{% endfor %}

{{ model_type_alias.type_alias_definition | fmt }}

{% include "model/snippets/type_alias_helpers.j2" with context %}
