{% set data = method_data.http_params %}
// Build query parameters
const queryParameters: any = {};
{%- for param in data.query_params -%}
if ({{ param.name }} !== undefined) {
  queryParameters['{{ param.name }}'] = {{ param.name }};
}
{%- endfor %}
