{% set data = method_data.http_params %}
// Build headers
const headerParameters: Record<string, string> = {
  {% if data.body_param %}
  'Content-Type': 'application/json',
  {% endif %}
  ...this.configuration?.headers,
};

// Add header parameters
{% for param in data.header_params %}
if (requestParameters['{{ param.param_name }}'] !== undefined) {
  headerParameters['{{ param.original_name }}'] = String(requestParameters['{{ param.param_name }}']);
}
{% endfor %}
