{% set data = method_data.http_params %}
// Make request
const response = await this.request({
    path: urlPath,
    method: '{{ data.http_method }}',
    headers: headerParameters,
    query: queryParameters,
    body: requestBody,
}, initOverrides);
{{ "\n" }}