{% if method_data.convenience_method_name and method_data.convenience_return_type %}
{% if method.documentation %}
{{ method.documentation | fmt }}
{% endif %}
async {{ method_data.convenience_method_name }}({% for p in method.parameters %}{{ p | fmt }}{% if not loop.last %}, {% endif %}{% endfor %}): Promise<{{ method_data.convenience_return_type | fmt }}> {
  const response = await this.{{ method.name }}({% for p in method.parameters -%}{{ p.name }}{% if not loop.last %}, {% endif %}{%- endfor %});
  return await response.value();
}

{% endif %}
