{% include "common/file_header.j2" with context %}

{% for import in model_interface.imports %}
{{ import | fmt }}
{% endfor %}

{% if model_interface.documentation %}
{{ model_interface.documentation | fmt }}
{% endif %}
{{ model_interface.signature | fmt }} {
{% for prop in model_interface.properties %}
  {{ prop | fmt }},
{% endfor %}
}
